.pagination
  padding-top 30px
  text-align center
  color #666
  font-size 14px
  width 100%
  display inline-block

  .page-number.current
    background #00c4b6
    color #fff

  .page-number
    display inline-block
    margin 0 .2rem
    min-width 1.2rem
    height 1.2rem
    color #00c4b6
    text-align center
    line-height 1.2rem
    border-radius 0.2rem

  .disable
    background-color rgb(204, 204, 204) !important
    cursor not-allowed

  .prev
    float left
    margin-left 30px

  .next
    float right
    margin-right 30px

  .prev, .next
    display inline-block
    width 38px
    line-height 38px
    height 38px
    padding 0
    background-color #00c4b6
    border-radius 50%
    color #fff